<main class="animated fadeIn">
    <div class="espacio"></div>
    <div class="cards">
        <div class="card">
            <div class="card__img">
                <img src="assets/imagenes/cursos/comunicacion.webp" alt="">
            </div>
            <div class="card__text">
                <h2>Comunicación Integral</h2>
                <button mat-flat-button>Información</button>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img src="assets/imagenes/cursos/matematica.webp" alt="">
            </div>
            <div class="card__text">
                <h2>Matematica</h2>
                <button mat-flat-button>Información</button>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img src="assets/imagenes/cursos/computacion.webp" alt="">
            </div>
            <div class="card__text">
                <h2>Computación</h2>
                <button mat-flat-button>Información</button>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img src="assets/imagenes/cursos/religion.webp" alt="">
            </div>
            <div class="card__text">
                <h2>Religión</h2>
                <button mat-flat-button>Información</button>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img src="assets/imagenes/cursos/historia.webp" alt="">
            </div>
            <div class="card__text">
                <h2>Personal Social</h2>
                <button mat-flat-button>Información</button>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img src="assets/imagenes/cursos/ingles.webp" alt="">
            </div>
            <div class="card__text">
                <h2>Ingles</h2>
                <button mat-flat-button>Información</button>
            </div>
        </div>
        <div class="card">
            <div class="card__img">
                <img src="assets/imagenes/cursos/cta.webp" alt="">
            </div>
            <div class="card__text">
                <h2>Ciencias Naturales</h2>
                <button mat-flat-button>Información</button>
            </div>
        </div>
    </div>
</main>