.main {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .noticias {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    position: relative;
    padding-top: 60px;
}

.main .noticias::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.main .noticias .card {
    width: 400px;
    min-height: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: .2s;
    margin: 20px;
}

.main .noticias .card:hover {
    transform: scale(1.1);
    transition: .2s;
}

.main .noticias .card:hover img {
    transform: rotate(1deg);
    transition: .2s;
}

.main .noticias .card__img {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    transition: .2s;
}

.main .noticias .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
}

.main .noticias .card__descripcion {
    width: 100%;
    height: 80px;
}

.main .noticias .card__descripcion h2 {
    text-align: center;
    margin: 0;
}

.main .noticias .card__descripcion p {
    font-size: 14px;
    margin: 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.float {
    position: absolute;
    top: -15px;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--verde-claro);
    z-index: 10;
}

.float .mat-icon {
    font-size: 20px;
}

.button-info {
    position: fixed;
    top: 20px;
    left: 280px;
    z-index: 10;
}