.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--verde-claro);
}

.main__img {
    width: 90%;
    height: 235px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
}

.main__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__text {
    display: flex;
    flex-direction: column;
}

.main__text h1 {
    text-align: center;
    font-weight: 600;
    color: var(--blanco);
}

.main__text p {
    width: 90%;
    margin: auto;
    color: var(--blanco);
}

.br {
    font-weight: 600;
}