
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

    h1 {
        font-weight: 600;
    }

    .list__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 300px;
        overflow-y: scroll;
        margin: 15px 0;
        border-radius: 10px;
        padding: 5px 0;
        box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.64);
        -webkit-box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.20);
        -moz-box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.20);

        .list__container--item {
            padding: 10px;
            border-bottom: 1px solid #019c7f26;
        }

        .list__container--item:hover {
            background-color: #019c7f26;
        }
    }

    .list__container::-webkit-scrollbar {
        width: 5px;
    }

    .list__container::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #019c7f;
    }

    button {
        background-color: #019c7f;
        color: #fff;
    }

}
    
:host ::ng-deep { 

    .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background,
    .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element{
        background-color: #019c7f !important;
    }

    .mat-dialog-container {
        padding: 24px 10px;
    }
}




